*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3rem;
    background-color: #e6e6e6;
}

.o-container {
    max-width: 896px;
    margin: 0 auto;
}

.c-color-picker {
    margin-bottom: 3rem;
    text-align: center;
}

.c-color-harmony {
    text-align: center;
    margin-bottom: 3rem;
}

.c-color-palette {
    display: flex;
    justify-content: center;
}

.c-color-palette__color p:last-child {
    margin-bottom: 0;
}

.c-color-palette__color-box {
    height: 160px;
    width: 160px;
    background-color: #000;
}

.c-color-app {
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
}
