*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3rem;
    background-color: #e6e6e6;
}

.o-container {
    max-width: 240px;
    margin: 0 auto;
}

.c-color-picker {
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
}

input {
    margin-bottom: 1rem;
}

.c-color-picker__color-box {
    height: 100px;
    width: 100px;
    background-color: #000;
}
