*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3rem;
    background-color: #e6e6e6;
}

.o-container {
    max-width: 1000px;
    margin: 0 auto;
}

.c-color-picker {
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
}

input {
    margin-bottom: 1rem;
}

.c-color-palette {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.c-color-palette__color-box {
    height: 160px;
    width: 160px;
    background-color: #000;
}
